body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.my-header {
  background: red;
  color: white;
  border: 1px solid black;
  text-align: center;
  padding: 20px;
}
.my-footer {
  background: green;
  color: white;
  border: 1px solid black;
  text-align: center;
  padding: 20px;
}
.my-page {
  border: 1px solid black;
  min-height: 400px;
  padding: 20px;
}
